* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section .backgroud404 {
    background: url('./../img/error.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

section .container {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}

section .container .left_content {
    box-sizing: inherit;
}

section .left_content h2 {
    font-size: 160px;
    color: #fff;
    line-height: 1;
    font-weight: 500;
}

section .container h1 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

section .container .search {
    position: relative;
}

section .container .mobitest {
    max-width: 90%;
}

section .container .search .button1 {
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    color: #060606;
    border: 2px solid rgb(255 255 255 / 29%);
    border-radius: 35px;
    background: #fff;
    appearance: none;
}

section .container .search .button1 .clickbtn {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

section .container .search .button1 .search-input {
    width: 75%;
    border: none;
    outline: none;
}

section .container .search .button1 button {
    border: none;
    background: transparent;
    float: right;
}

section .container .search .button1 i {
    color: #ff6e65;
}

section .left_content .backtohome {
    background: none;
    border-radius: 35px;
    color: #eee;
    display: inline-block;
    margin-top: 30px;
    font-weight: 600;
}

.backtohome a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.backtohome a i {
    margin-right: 5px;
}

.backtohome a:hover {
    color: #ff6e65;
}


.back-to-top {
    width: 40px;
    height: 40px;
    background: #0d369f;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 90px;
    right: 15px;
    color: white;

}

.back-to-top i {
    transform: rotate(90deg)
}

@media (max-width: 912px) {
    section .backgroud404 {
        background: url('./../img/error.jpg');
        background-position: center;
        background-size: cover;
        min-height: 50vh;
    }

    .left_content {
        margin-left: 10px;
        margin-right: 10px;

    }

    .right_no_content {
        display: none;
    }

}
