.blogposts .title {
    margin: auto;
    max-width: 1200px;
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.blogposts .title h2 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.blogposts .title ul{
    padding:0;
    color: #fff;
    font-size: 16px;
}
.blogposts .title a {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size:  15  px;
    opacity: 0.8;
    transition: 0.5s;
}
.blogposts .title a:first-child{
    margin-left: 0;
}
.blogposts .title a:hover{
    opacity: 1;
}
