/* BLOG POSTS */
.blogposts {
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.blogposts .title {
    margin: auto;
    max-width: 1200px;
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.blogposts .title h2 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.blogposts .title ul{
    padding:0;
    color: #fff;
    font-size: 16px;
}
.blogposts .title a {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size:  15  px;
    opacity: 0.8;
    transition: 0.5s;
}
.blogposts .title a:first-child{
    margin-left: 0;
}
.blogposts .title a:hover{
    opacity: 1;
}


/* main blogposts  */
main {
    padding: 50px 0;
}
main .container {
    max-width: 1200px;
    /* margin: 0 330px; */
}
main .bp_left {
    padding: 0 24px;
    margin-bottom: 30px;
    text-align: left;
}

.bp_right {
    width: 400px;
    padding: 0 24px;
    position: sticky;
}
.bp_right .bp_sticky {
    top: 40px;
    
}

.bp_right .input_search {
    margin-bottom: 40px;
}
.bp_right .input_search form{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 1.5rem;
    left: 0;
    right: 0;
    top: -170px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 1000;
    background: #ffffff;
}
.bp_right .input_search input[type="search"] {
    height: 50px;
    border-radius: 10px 0 0 10px ;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    outline:none;
    border-color: gray;
}
.bp_right .input_search input[type="search"]:focus {
    /* outline: none; */
    border-color: none;
}
.bp_right .input_search input[type="submit"] {
    background-color: #0d369f;
    border-radius: 0 10px 10px 0;
    color:white;
    padding: 12px;
    border: none;
    list-style: none;
    transition: 0.5s;
    /* outline: none; */
}
.bp_right .input_search input[type="submit"]:hover {
    background-color: #ff6e65;
    color:white;
}



/* number page  */
.number_page .page-item:first-child .page-link {
    border: none;
    background-color: #ff6e65;
    color: white;
    border-radius: 50%;

    padding: 10px 18px;
    margin-right: 5px;
}

.number_page .page-item .page-link{
    color:black;
    font-weight: 600;
    border: none;
    background-color: white;
    border-radius: 50%;
    padding: 10px 18px;
    margin-right: 5px
}
.number_page .page-item .page-link:hover {
    background-color: #ff6e65;
    color:white;
}



/* <!-- content_left Blog POSTS  --> */

/* recent Posts  */
.box_right {
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.box_right h2 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.box_right ul{
    padding: 0;
}
.box_right li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    
}
.box_right li a{
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}
.box_right li:hover a {
    color: #ff6e65;
    text-decoration: 1px underline #ff6e65;
}

.box_right li .rcmt {
    color: #ff6e65;
    font-weight: 700;
    font-size: 16px;
}







/* backtotop  */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #0d369f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#backToTopBtn.show {
    display: block;
}
#backToTopBtn:hover {
    filter: brightness(150%);
}




/* responsive  */
/* mobile screen  */
@media screen and (max-width: 991px){
    .blogposts {
        min-height: 200px;
    }
    .blogposts .title {
        max-width: 540px;
        padding-left: 10px ;
    }
    .blogposts .title a{
        color: white !important;
    }

    main .container{
        max-width: 540px;
    }
    .blogposts_content {
        flex-direction: column;
    }
    .bp_left,.bp_right {
        width: 100%;
    }
}
/* tablet screen   */
@media screen and (max-width: 1200px){
    .blogposts {
        min-height: 300px;
    }
    .blogposts .title {
        max-width: 960px;
        padding-left: 15px ;
    }
    main .container{
        max-width: 960px;
    }
}

@media screen and (min-width: 1200){
    .blogposts .title {
        max-width: 1200px;
        /* padding-left: 15px ; */
    } 
    main .container{
        max-width: 1200px;
    }
}