html,body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px;
}
.header_contact {
    background: url(../img_blogpots/blogposts_img2.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}
.header_contact .title {
    padding: 120px 0 0 0;
}
.header_contact .title h3 {
    font-weight: 700;
    font-size: 30px;
    color: white;
}
.header_contact .title ul {
    list-style: none;
    color: gray;
}
.header_contact .title ul a {
    color:gray;
}
.header_contact .title ul i {
    font-size: 8px;
    
}




/* contact_content  */
.address {
    display: flex;
    justify-content: center;
}

.address h4 {
    font-weight: 700;
    margin-bottom: 30px;
}
.address .address_item {
    margin-top: 24px;
    padding-top: 8px;
}
.address .address_item .address-left i {
    font-size: 20px;
    margin-right: 16px;
    color: #FF6E65;
}
.address .address_item .address-right span {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}
.address .address_item .address-right p{
    margin: 10px 0 0;
}
.address .address_item .address-right a {
    line-height: 16px;
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}
.address .address_item .address-right a:hover {
    color: #FF6E65;
}

.address .right iframe {
    border-radius: 10px;
}
/* .input_contact */
/* .input_contact .title-main{
    
} */
.input_contact .title-main h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.input_contact .title-main span {
    color: #FF6E65;
}
.input_contact h3::before {
    content: "";
    display: inline-block;
    background-color:#707070;
    height: 2px;
    width: 60px;
    position:absolute;
    left: 50%;
    transform: translateX(-47%);
    bottom: -9px;
}
.input_contact h3::after {
    content: "";
    display: inline-block;
    background-color:#707070;
    height: 2px;
    width: 60px;
    position:absolute;
    left: 50%;
    bottom: -20px;
}


.input_contact .input-left img{
    width: 100%;
    border-radius: 10px;
}

.input_contact .input-right{
    width: 100%;
    padding: 0 20px;
}
.input_contact .input-right input {
    display: block;
    padding: 14px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #F9F9F9;
    border-radius: 8px;
    border: 1px solid #eee;
    transition: 0.5s;
}
.input_contact .input-right input:focus {
    border: 2px solid #FF6E65;
}
/* .input_contact .input-right input:focus-visible {
    border:none;
} */
.input_contact .input-right textarea {
    padding: 14px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #F9F9F9;
    border-radius: 8px;
    height: 150px;
    border: none;
}
.input_contact .input-right button {
    margin-top: 10px;
    color: white;
    background-color: #FF6E65;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px 30px;
    border: none;
    transition: 0.5s;
    text-align: left;
}

.input_contact .input-right button:hover {
    background-color:#0d369f;
}

@media screen and (max-width:767px){
    .header_contact{
        height: 200px;
    }
    .container{
        max-width: 540px;
    }
    .container_contact .title{
        padding-top: 120px;
        padding-left: 15px;
    }

    .body_contact .address{
        display: flex;
        flex-direction: column;
    }
    .body_contact{
        padding-top: 50px !important;
    }
    .body_contact .address iframe {
        width: 100%;
        margin-top: 24px;
    }
    
    .input-content{
        display: flex;
        flex-direction: column;
    }
    .input-content .input-left {
        width: 100%;
    }
    .input-content .input-right{
        margin-top: 24px;
    }
    .address .left,.right{
        padding: 0 15px !important;
    }
}
@media screen and (max-width:991px){
    .container{
        max-width: 720px;
    }
    .address .left,.right{
        padding: 0 15px !important;
    }
    .address .right iframe{
        width: 100%;
    }
    /* .address .right */
}
@media screen and (max-width:1200px){
    .container{
        max-width: 960px;
    }
    .address .left{
        padding: 0 5px !important;
    }
    .address .right iframe{
        width: 100%;
    }
}