*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    box-shadow: none !important;
}

.fixed-top{
    position: sticky;
}

.header_area .header_top .header_top_contents{
    background: #0d369f;
}

.header_area .header_top .contact ul,
.header_area .header_top .social_media ul{
    font-size: 15px;
    margin: 0;
}

.header_area .header_top .contact ul li,
.header_area .header_top .social_media ul{
    list-style: none;
}

.header_area .header_top .contact ul li a,
.header_area .header_top .social_media ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}

.header_area .header_top .contact ul li a i{
    margin-right: 5px;
    font-size: 13px;
}

.header_area .header_top .contact ul li a i:last-child{
    font-size: 15px;
}

.header_area .header_top .social_media ul li a i{
    font-size: 15px;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 200;
}

header .nav_area nav .container-fluid a{
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    vertical-align: middle;
    color: #0d369f;
}

header .nav_area nav .container-fluid .navbar_items ul li a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #060606;
    margin: 0 4px;
    transition: all 0.5s;
}

header .nav_area nav .container-fluid .navbar_items ul li .active,
header .nav_area nav .container-fluid .navbar_items ul li:hover .nav-link,
header .nav_area nav .container-fluid .navbar_items ul li ul li:hover .dropdown-item,
header .nav_area nav .container-fluid .navbar_items form button:hover,
header .nav_area nav .container-fluid .navbar_items .change_theme:hover{
    color: #ff6e65;
    background: transparent;
}

header .nav_area nav .container-fluid .navbar_items form{
    width: 250px;
    border: 1px solid #eeeeee;
    border-radius: 100px;
    position: relative;
    text-align: center;
}

header .nav_area nav .container-fluid .navbar_items form input{
    width: 205px;
    font-size: 15px;
    border: none;
    font-weight: 400;
    line-height: 0;
    margin-left: 5px;
    border-radius: 20px;
}

header .nav_area nav .container-fluid .navbar_items form button{
    color: #0d369f;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 1px;
    transition: all 0.5s;
}

header .nav_area nav .container-fluid .navbar_items .change_theme{
    transform: rotate(-45deg);
    color: #0d369f;
    font-weight: 600;
    transition: all 0.5s;
}

header .responsive_change_theme{
    display: none;
}

.dropdown-menu {
    left: 50% !important;
    right: auto !important;
    text-align: left !important;
    transform: translate(-50%, 0) !important;
}

.side_bar{
    position: fixed;
    right: 0;
    top: 19.4%;
    z-index: 10001;
}

.side_bar ul{
    background: #0d1326;
    border-radius: 10px 0 0 10px;
}

.side_bar ul li{
    list-style: none;
}

.side_bar ul li:first-child{
    border-bottom: 1px solid #707070;
}

.side_bar ul li button{
    padding: 20px 10px;
    text-align: center;
    color: #8f95a8;
}

.side_bar ul li:hover button{
    color: #8f95a8!important;
}

.side_bar ul li a{
    text-decoration: none;
    color: #8f95a8;
    transition: all 0.5s;
}

.side_bar ul li:hover a{
    color: #fff;
}

.footer_area{
    display: block;
}

.footer_area .footer_content{
    padding: 80px 0;
    background: #060e1f;
}

.footer_area .footer_content .container .footer_items .custom_form{
    max-width: 1000px;
    border-radius: 10px;
    padding: 50px;
    left: 0;
    right: 0;
    top: -170px;
    margin: 0 auto;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    z-index: 1000;
    background: #ffffff;
}
.footer_area .custom_form .left h4{
    font-size: 35px;
    color: #060606;
    font-weight: 600;
}

.footer_area .custom_form .left span{
    font-size: 15px;
    color: #707070;
}

.footer_area .custom_form .right form input{
    font-size: 16px;
    border: 1px solid #eeeeee;
    border-radius: 5px 0 0 5px;
}
.footer_area .custom_form .right form button{
    font-size: 16px;
    background: #0d369f;
    font-weight: 600;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
}

.footer_area .footer_content .container .footer_items .row{
    margin-top: 110px;
}

.footer_area .footer_content .container .footer_items .row .item h6{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #17365866;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer_area .footer_content .container .footer_items .row .item ul{
    padding: 0;
    margin: 0;
}

.footer_area .footer_content .container .footer_items .row .item:last-child{
    border-left: 1px solid #40495282;
}

.footer_area .footer_content .container .footer_items .row .item ul li{
    list-style: none;
    margin-bottom: 10px;
}

.footer_area .footer_content .container .footer_items .row .item ul li a{
    font-size: 14px;
    color: #cecece;
    text-decoration: none;
    transition: all 0.5s;
}

.footer_area .footer_content .container .footer_items .row .item ul li:hover a{
    color: #ffffff;
}

.footer_area .footer_content .container .footer_items .row .item ul li a i{
    font-size: 9px;
    color: #ffffff;
    margin-right: 5px;
}

.footer_area .footer_content .container .footer_items .row .item ul li p{
    font-size: 15px;
    color: #cecece;
}

.footer_area .footer_content .container .footer_items .row .item:nth-child(3) ul li a{
    font-size: 15px;
}

.footer_area .footer_content .container .footer_items .row .item:nth-child(3) ul li a i,
.footer_area .footer_content .container .footer_items .row .item ul li p i{
    font-size: 15px;
    color: #ffffff;
    margin-right: 20px;
}

.footer_area .footer_content .container .footer_items .row .item:nth-child(3) ul li:nth-child(2){
    margin-top: 10px;
}

.footer_area .footer_content .container .footer_items .row .item ul li .social_list a{
    color: #ffffff;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 100px;
    background: #ffffff0f;
}

.footer_area .footer_content .container .footer_items .row .item ul li .social_list a i{
    font-size: 15px;
    line-height: 35px;
    margin: 0;
}

.footer_area .copyright{
    background: #000;
}

.footer_area .copyright p{
    font-size: 15px;
    color: #a0a0a0;
}

.footer_area .copyright p span{
    color: #ffffff;
}

.top_banner{
    background-image: url('https://wp.w3layouts.com/studious/wp-content/themes/studious/assets/images/bg4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 320px;
    position: relative;
    z-index: 1;
}

.top_banner .inner_text{
    padding: 120px 0;
}

.top_banner .container h3{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.top_banner .container a,
.top_banner .container p,
.top_banner .container i:last-child{
    color: #d4d4d4;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
}

.top_banner .container i{
    font-size: 9px;
    margin: 0 5px;
}

.search_content .container .title p{
    font-size: 32px;
    font-weight: 500;
    color: #060606;
}

.search_content .container .contents .search_items .card{
    width: 100%!important;
}

.search_content .container .contents .search_items .card a{
    text-decoration: none;
}

.search_content .container .contents .search_items .card span{
    font-size: 14px;
    font-weight: 700;
    color: #ff6e65;
}

.search_content .container .contents .search_items .card p{
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

.search_content .container .contents .search_items .card p i{
    font-size: 14px;
    font-weight: 700;
    color: #ff6e65;
}

.search_content .container .contents .search_items .card a{
    text-decoration: none;
    font-size: 25px;
    color: #060606;
    font-weight: 600;
    transition: all 0.5s;
}

.search_content .container .contents .search_items .card a:hover{
    color: #ff6e65;
}

.search_content .container .contents .side_menu .item{
    border: 1px solid #a0a0a0;
    border-radius: 10px;
}

.search_content .container .contents .side_menu .item input{
    font-size: 15px;
    border-radius: 5px 0 0 5px ;
    padding: 15px;
}

.search_content .container .contents .side_menu .item button{
    background: #0d369f;
    border: 1px solid #0d369f;
    color: #fff;
    border-radius: 0 5px 5px 0 ;
    border: none;
    padding: 15px;
    transition: all 0.8s;
}

.search_content .container .contents .side_menu .item button:hover{
    background: #ff6e65;
}

.search_content .container .contents .side_menu .item h2{
    font-size: 20px;
    font-weight: 700;
    color: #060606;
}

.search_content .container .contents .side_menu .item ul li{
    list-style: none;
}

.search_content .container .contents .side_menu .item ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    transition: all 0.5s;
}

.search_content .container .contents .side_menu .item ul li a span{
    font-size: 18px;
    font-weight: 700;
    color: #ff6e65;
}

.search_content .container .contents .side_menu .item ul li:hover a{
    text-decoration: underline;
    color: #ff6e65;
}
.search_content .container .contents .side_menu .item:nth-child(3) ul li:hover a{
    text-decoration: none;
    color: #707070;
}

.search_content .container .contents .side_menu .item:nth-child(3) ul li a span:hover{
    text-decoration: underline;
}

.back_to_top{
    position: fixed;
    width: 40px;
    height: 40px;
    text-align: center;
    bottom: 15%;
    right: 10px;
    border-radius: 5px;
    background: #0d369f;
    color: white;
}

.back_to_top i{
    line-height: 40px;
}

@media only screen and (max-width: 571px){
    .header_area .header_top_contents{
        width: 0;
        height: 0;
        position: absolute;
        top: -100px;
    }

    header{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background: unset;
    }

    header .navbar-toggler{
        background: #0d369f;
    }

    header .navbar-toggler i
    {
        color: #fff;
    }

    header .change_theme i{
        color: #0d369f;
    }

    header .navbar_items .navbar-nav
    {
         text-align: center;
         background: #fff;
         padding: 15px 0;
         margin-bottom: 10px;
    }

    header .navbar_items .search_area{
        margin: 10px 0;
        text-align: center;
        background: #fff;
        transform: translate(50%, 0);
    }

    header .navbar_items .fa-moon{
        opacity: 0;
    }

    header .responsive_change_theme{
        display: inline;
    }

    .side_bar ul {
        padding: 0;
    }

    .footer_area .item:last-child br{
        display: none;
    }

    .footer_area .footer_content .container .footer_items .custom_form{
        width: 550px;
        flex-direction: column;
        top: -190px;
    }

    .footer_area .footer_content .container .footer_items .social_list{
        width: 40%;
    }

    .footer_area .copyright p br{
        display: inline;
    }

    .top_banner{
        min-height: 130px;
    }

    .top_banner .inner_text{
        padding: 120px 0 0 0;
    }
}

@media ( min-width: 1280px)
{
    .container{
        max-width: 1200px;
    }
}