.bp_card .card {
    border: none;
}

.card_date {
    margin-bottom: 20px;
}

.card-body  .date_2 {
    list-style: none;
}
.card-body  .date_2 i {
    font-size: 13px;
    color: #ff6e65;
    margin-right: 5px;
    font-weight: 500;
}
.card-body  .date_l a {
    text-decoration: none;
    font-weight: 600;
    color: #ff6e65;
}

.card .card-body h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.card .card-body h5:hover {
    color: #ff6e65;
}
.bp_card .card .card-body p a{
    text-decoration: none;
    color: #0d369f;
}
.bp_w3layouts {
    border: 1px solid #eee ;
    border-radius: 10px;
}

.social_iconw3 {
    /* margin-left: 0 10px; */
    font-size: 20px;
}
.social_iconw3 i {
    margin-left: 10px;
    color: black;
    transition: 0.5s;
}
.social_iconw3 i:hover {
    color: #ff6e65;
}

.previous-next {
    width: 100%;
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #eee; 
    border-left: none; 
    border-right: none;
}



.previous_post, .next_post {
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #eee; 
    border-left: none; 
    border-right: none;
}

.previous_post a, .next_post a {
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: 0.5s;
}
.next_post {
    text-align: right;
}
.previous_post span, .next_post span {
    font-size: 16px;
    font-weight: 700px;
}
.previous_post a:hover, .next_post a:hover{
    color: #ff6e65;
}




/* noi dung bai viet  */
.card-body .card_img_content{
    margin: 5px 0;
}
.card-body .card_img_content img{
    border-radius: 8px;
}
.card-body .card-text p{
    padding: 0;
    margin: 15px 0;
}



/* form reply  */
/* --title main-- */
.form-reply {
    padding: 15px 15px ;
}
.form-reply h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.5;
}
.form-reply p{
    color: #707070;
    margin: 15px 0;
}
/* input-reply  */
.input-reply-form{
    width: 100%;
}
.form-reply .input-reply {
    width: 100%;
}
.form-reply .input-reply label{
    font-size: 15px;
    margin: 15px 0;
}
.form-reply .input-reply textarea {
    padding: 15px;
    margin-bottom: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
}
.form-reply .input-reply textarea:focus{
    border: 1px solid #ff6e65;
}
/* name email website  */
.form-reply .input-comment {
    display: flex;
    flex-direction: column;
}
.form-reply .input-comment label{
    font-size: 15px;
    margin: 15px 0;
}
.form-reply .input-comment input{
    padding: 15px;
    margin-bottom: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
}
.form-reply .input-comment input:focus{
    border: 1px solid #ff6e65;
}

/* button posts comment */
.btn-postscmt {
    margin-top: 30px;
    position: relative;
}
.btn-postscmt button {
    background-color: #0d369f;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: 700;
    position: absolute;
    right: 0;
    transition: 0.5s;
}
.btn-postscmt button:hover{
    background-color: #ff6e65;
}